.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container{
  display: grid;
  justify-content: center;
  padding-top: 20%;

  background-color: yellow;
  border: 1px solid yellowgreen;
  padding: 100px;
  margin: 100px;

}


.red{
  color: red;
  font-size: 20px;
}

.green{
  color: green;
  font-size: 20px;
}

.header{
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 20px;
  text-align: center;
}

.task-input{
  font-size: 22px;
  border-color: green;
  margin-right: 20px;
  border-radius: 5px;
}

.submit-btn{
  font-size: 22px;
  background-color: orange;
  border-color: black;
  color: white;
  
}

.button-delete{
  border-color: red;
  color: red;

}

.button-edit{
  border-color: blue;
  color: blue;

}